
html {
    background: url(img/parkplainbg.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}
body,html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family:'Permanent Marker';
    color: rgb(219, 129, 18);
}
h1 {
    margin-top:0.5em;
    display: flex;
    align-content: center;
    justify-content: center;
}

.game-input > h2 {
   margin-bottom: 3em;
}

h3 {
    margin-bottom: 2em;
}
section {
    min-height: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-instructions {
    display: flex;
    flex: 1 1 50%;
    margin-top:1em;
    margin-bottom: 1em;
}
footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 20%;
    min-height: 3em;
}

.images {
    display: flex;
    gap:12em;
   justify-content: center;
}



.images > div {
    border:slategrey;
    border-style: solid;
    
}

.images > div > p {
    text-align: center;
}



img {
    object-fit: contain;
    width: 17em;
    height: 10em;
    min-height: auto;
    min-width: 3em;
}

.pops-image {
    max-width: 15em;
    max-height: 15em;
    min-height: auto;
    min-width: 3em;
    margin-left: 30%;
}

button {
    border:none;
    font-family: 'Permanent Marker';
    font-size: 40px;
    color:  rgb(219, 129, 18);
}